<?xml version="1.0" encoding="utf-8"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppName>湖州先锋开发框架</AppName>
  <FootTitle />
  <LoginTitle />
  <LoginTitle1 />
  <Copyright />
  <CompanyName />
  <HomeStyle>2</HomeStyle>
  <Version>1.1</Version>
  <LogoUrl>/Areas/Main/Content/Images/logo/top_banner_3312109.jpg</LogoUrl>
  <DefaultPassword>112233</DefaultPassword>
  <LoginAction>/Account/LogOn</LoginAction>
  <LoginPage>/Views/Account/LogOn.cshtml</LoginPage>
  <IndexAction>/Home/Index</IndexAction>
  <IndexPage>/Areas/Main/Views/CustomerHome/IndexLiger.cshtml</IndexPage>
  <ErrorPageAction>/Shared/Error</ErrorPageAction>
  <UnauthorizedPageAction>/Shared/Unauthorized</UnauthorizedPageAction>
  <UseValidateCode>false</UseValidateCode>
  <LoginLogoUrl />
  <LoginLogoUrl1 />
  <LoginBackImgUrl>/Content/Login/Images/login_bg_new.png</LoginBackImgUrl>
  <LoginBackNew1 />
  <EnableCookie>true</EnableCookie>
  <CookieExpiresTime>6</CookieExpiresTime>
  <LogEnable>false</LogEnable>
  <LogType>1</LogType>
  <SSOEnable>false</SSOEnable>
  <SSOType>1</SSOType>
  <SSOServerUrl>http://localhost:4614/Login.aspx</SSOServerUrl>
  <SSOFactoryUrl>http://localhost:4614/WS_SSO/WS_SSODataFactorySoap.asmx</SSOFactoryUrl>
  <SSOFactoryConfig>/DBConfig/SSOdbConfig.cfg.xml</SSOFactoryConfig>
  <SSORegisterID>ODMS.YTW</SSORegisterID>
  <AccessTokenExpires>0</AccessTokenExpires>
  <IsOnWXClient>false</IsOnWXClient>
  <MobileManager />
  <Watermark>Copyright © 先锋网络. All rights reserved.</Watermark>
  <QRCodeUrl>http://ckf.shkj88888.com/twocode.aspx?type=1#*#id={0}</QRCodeUrl>
  <SmsCompanyCode>shkj</SmsCompanyCode>
  <SmsUid>81094</SmsUid>
  <SmsPassword>P39obl7</SmsPassword>
</AppConfig>