@model Manage.Core.Models.AccountModel
@{
    ViewBag.Title = "密码设置";
    Layout = "~/Views/Shared/_Add.cshtml";

    ViewBag.Modules = "Account";
    ViewBag.ModulesType = "Manager";
    ViewBag.Ext = "Pass";
}

<fieldset class="layui-elem-field layui-field-title">
    <legend>密码设置</legend>
</fieldset>

<div class="layui-inline">
    <label class="layui-form-label add-k">原始密码</label>
    <div class="layui-input-inline add-v">
        @Html.TextBoxFor(c => c.OldPassword,
        new
        {
            @class = "layui-input",
            lay_verify = "q-required",
            placeholder = "请输入原始密码"
        })
    </div>
</div>

<div class="layui-inline">
    <label class="layui-form-label add-k">新的密码</label>
    <div class="layui-input-inline add-v">
        @Html.TextBoxFor(c => c.NewPassword,
        new
        {
            @class = "layui-input",
            lay_verify = "q-required",
            placeholder = "请输入新的密码"
        })
    </div>
</div>

<div class="layui-inline">
    <label class="layui-form-label add-k">确认密码</label>
    <div class="layui-input-inline add-v">
        @Html.TextBoxFor(c => c.ConfirmPassword,
        new
        {
            @class = "layui-input",
            lay_verify = "q-required|q-confirmpass",
            placeholder = "请再次输入新的密码"
        })
    </div>
</div>

@section HiddenArea {
     @Html.HiddenFor(c => c.UserID)
}




